 body {
 text-align : center;
 background-color : brown; 

 }
 #h, #l1, #l2 {
 color : aaff55;
 font-size : 50px; }
 #t{ width : 150px; height : 100px; }
 #th1{
 border-style : solid;
 background-color : ff0000;
 }
 #th2{ 
 border-style : solid;
 background-color : 00ffff;

}
#b1, #b2, #b3, #b4, #b5, #b6, #b7, #b8, #b9, #b10, #b11, #print,#del,#delAll,
#add, #show, #abp, #clear, #save, #changePass
 {
 font-size : 20px;
 background : red;
 color : black;
}

#passLabel, #clearDialog, #confirmPass, #h1, #dialogChangePass, #ConfirmNewPass{
	font-size : 15px;
	background-color : ff00ff;
	color : white;
}


 #currentPass{
    width : 200px;
	height : 30px;
	background-color : ff00ff;
	color : black;
	-webkit-text-security: square;
	letter-spacing : 2px;
 }
 
 #newPass, #oldPass{
	 width : 200px;
	 height : 30px;
	 color : white;
	 background-color : black;
 }

#ta_tcash {
    width : 400px;
    height : 50px;
    background:Black;
    color:White;
    font-size : 30px;}
#ta2 {
 width : 715px;
 height : 300px; 
 background-color : 00dd00;
 font-size : 20px;
}
 #ta1 {
     width : 715px;
     height : 70px;
     background-color : ddddaa;
     font-size : 20px;
 }
 #dialog {
     width : 715px;
     height 400px;
     background-color : blue;
     color : yellow;
 }
 #dtable {
     width :  715px;
     color : yellow;
     font-size : 35px;
     border-collapse : collapse;
     border-style : solid;
     border-color : grey;
 }
 #tacof ,#tatea, #tahot, #tacap, #tamin, #taging, #tastr, #taman, #taora, #taapp, #tacoc {
     width : 70px;
     height : 53px;
     font-size : 25px;
     color : blue;
     background-color : yellow;
     
 }